<div id="main-header">
  <div class="container">
    <%- partial('header/_logo') %>
    <%- partial('header/_navigation') %>
    <%- partial('header/_search_bar') %>
    <%- partial('header/_member') %>
  </div>
</div>
<!-- cat-nav -->
<%- partial('_category_menu.ejs') %>